@use '../../styles/variables' as *;

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  padding: 20px;
  border: 2px solid $color-primary;
  border-radius: 10px;

  & > *:not(:last-child) {
    margin-bottom: 10px;
  }

  & > button {
    align-self: flex-end;
  }

  cursor: pointer;
}

.image {
  align-self: center;
  height: 300px;
  width: fit-content;

  opacity: 0;
  transition: opacity 0.3s ease;
}

.image[src] {
  opacity: 1;
}

.title {
  font-size: $font-size-md;
  line-height: $line-height-base;
  font-weight: bold;
}

@media (max-width: $breakpoint-sm) {
  .card {
    padding: 10px;
    border-radius: 5px;

    & > *:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  .image {
    height: 200px;
  }

  .title {
    font-size: $font-size-sm;
  }
}
