@use '../../styles/variables' as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px 0;

  & > *:not(:last-child) {
    margin-bottom: 10px;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
}

.image {
  width: 200px;
  height: fit-content;
}

.info {
  & > *:not(:last-child) {
    margin-bottom: 10px;
  }
}

.titleWrapper {
  display: grid;
  grid-template-columns: 1fr 24px;
  gap: 10px;
  align-items: center;
}

.title {
  font-size: $font-size-lg;
  line-height: $line-height-base;
  font-weight: bold;
}

@media (max-width: $breakpoint-md) {
  .wrapper {
    gap: 5px;
  }

  .info {
    & > *:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  .titleWrapper {
    gap: 5px;
  }

  .title {
    font-size: $font-size-md;
  }
}

@media (max-width: $breakpoint-sm) {
  .container {
    margin: 10px 0;

    & > *:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
