@use './reset';
@use './variables' as *;

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  color: $color-text;
  background-color: $color-bg;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

.layout {
  min-height: 100%;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout > * {
  width: 100%;
  max-width: 1920px;
}

main {
  padding: 0 40px;
  flex: 1;
}

h1 {
  color: $color-primary;
  font-size: $font-size-xl;
  line-height: $line-height-base;
  font-weight: bold;
}

@media (max-width: $breakpoint-lg) {
  .layout,
  main {
    padding: 0 20px;
  }
}

@media (max-width: $breakpoint-sm) {
  .layout {
    padding: 0 10px;
  }

  main {
    padding: 0;
  }

  body {
    font-size: $font-size-sm;
  }

  h1 {
    font-size: $font-size-lg;
  }
}
