@use '../../styles/variables' as *;

.searchBar {
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.label {
  color: $color-primary;
  font-weight: bold;
  font-size: $font-size-md;
}

.search,
.filter {
  width: 250px;
  padding: 1px 4px;
  background-color: rgba($color-primary-light, 0.5);
  border: 2px solid $color-primary;
  border-radius: 10px;
  height: 40px;
  margin: 10px;
  font-weight: normal;
}

.search {
  margin-right: 20px;
}

@media (max-width: $breakpoint-sm) {
  .label {
    font-size: $font-size-sm;
  }

  .search,
  .filter {
    width: 180px;
    border-radius: 5px;
    height: 30px;
    margin: 5px;
  }
}
