@use '../../styles/variables' as *;

.footer {
  text-align: center;
  color: $color-primary;
  font-size: $font-size-md;

  p {
    margin: 10px 0;
  }

  p > a {
    font-weight: bold;
  }
}

@media (max-width: $breakpoint-sm) {
  .footer {
    font-size: $font-size-sm;
  }
}
